:root {
  --font-family: Georgia, serif;

  --bg-color: #ffffff;
  --bg-color-hover: seagreen;

  --color: #2C3437;
  --color-hover: #ffffff; 
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
